div#vote{
  padding-top: 60px;
  height: 100%;
}

div#vote i{
  color : green;
  font-size: 25px;
}

input#topic{
  margin-bottom: 10px;
}
button#btnVote{
  margin-top: 5px;
  width: 110px;
}

h3#vote{
  margin-top: 1px;
}
