button#btnDeniedN{
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
button#btnDeniedN i{
  font-size: 20px;
  color: white;
}
button#btnAcceptN{
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
button#btnAcceptN i{

  font-size: 20px;
  color: white;
}

/*----------MAIN SCREEN---------*/

span#main{
  margin-right: 8px;
}

i#main{
  font-size: 15px;
  color: gray;
}

i#mainU{
  font-size: 15px;
  color: black;
}

/*----SUJESTIONS-------*/
.btn-half{
  background-color: #449D44;
  color: white;
  margin-top: 20px;
  margin-bottom: -30px;
}

/*---IN VOTING--------*/
a#btnVoltar{
  
}
