<div id="container" class="container">

  <div class="col-md-offset-2 col-md-8">
    <div class="clearfix">
      <form id="options" ng-Submit="vm.getTopic()">
        <p class="center">
          <button id="btnOptions" type="submit" class="btn btn-primary btn-lg " onclick="window.location.href='#!/chat'">Bolsonaro</button>
          <button id="btnOptions" type="button" class="btn btn-primary btn-lg " onclick="window.location.href='#!/chat'">Lava Jato</button>
          <button id="btnOptions" type="button" class="btn btn-primary btn-lg " onclick="window.location.href='#!/chat'">Lula</button>
          <br><br><br><br>
          <button id="btnOptions" type="button" class="btn btn-primary btn-lg " onclick="window.location.href='#!/chat'">Eleições 2018</button>
          <button id="btnOptions" type="button" class="btn btn-primary btn-lg " onclick="window.location.href='#!/chat'">Previdencia Social</button>
          <button id="btnOptions" type="button" class="btn btn-primary btn-lg " onclick="window.location.href='#!/chat'">Impostos</button>
        </p>
      </form>
    </div>
  </div>
</div>
