<div class="container">

  <div class="col-md-offset-2 col-md-8">
    <div class="clearfix">
      <form id="options">
        <p class="center">
          <button id="btnOptions" type="button" class="btn btn-primary btn-lg ">Available Subjects</button>
          <button id="btnOptions" type="button" class="btn btn-primary btn-lg ">Subjects in Voting</button>
          <button id="btnOptions" type="button" class="btn btn-primary btn-lg ">Sujest Subject</button>
        </p>
      </form>
    </div>
  </div>
</div>
