<div class="container">
  <h1>Usuarios</h1>
  <div class="alert alert-danger" ng-show="vm.message=='SIM'" role="alert">
    <strong>Oh snap!</strong> Select a User to Save.
  </div>
  <table class="table">
    <thead>
      <tr>
        <td>Username</td>
        <td>Password</td>
        <td>Email</td>
        <td>Tipo</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input id="username" required type="username" class="form-control" name="username" placeholder="Username" ng-model="vm.username" autocapitalize="none"></td>
        <td><input id="password" required type="text" class="form-control" name="password" placeholder="Password" ng-model="vm.password" autocapitalize="none"></td>
        <td><input id="email" required type="email" class="form-control" name="email" placeholder="Email" ng-model="vm.email" autocapitalize="none"></td>
        <td><input id="tipo" required type="text" class="form-control" name="tipo" placeholder="Tipo" ng-model="vm.tipo" autocapitalize="none"></td>
        <!--<td><button type="submit" class="btn btn-success" ng-click="vm.post()">ADD</button></td>-->
        <td><button id="btnControl" type="submit" class="btn btn-info" ng-click="vm.update()">Save</button></td>
        <td></td>
      </tr>
      <tr class="post" ng-repeat="user in vm.users | orderBy:'createdOn':true">
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>{{user.email}}</td>
        <td>{{user.adm}}</td>
        <td><button id="btnControl" type="submit" class="btn btn-primary" ng-click="vm.edit(user)">Edit</button></td>
        <td><button id="btnControl" type="submit" class="btn btn-danger" ng-click="vm.delete(user._id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
